<form #editScheduleForm="ngForm" *ngIf="userLoaded&&estadosLoaded&&municipiosLoaded" novalidate>
  <br>
  <br>
  <tabset #staticTabs>
    <tab heading="PERFIL DE USUARIO">
        <br>
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <legend>Perfil de Usuario</legend>
                    </div>                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="col-md-4 form-group">
                        <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Usuario</label>
                        <input type="text" class="form-control" [(ngModel)]="user.nombreUsuario" name="nombreUsuario" #creator="ngModel" required pattern=".{5,50}"/>
                     </div>
                </div>
            </div>
        </fieldset>
    </tab>
    <tab heading="INFORMACIÓN GENERAL">
       <br>
       <fieldset>
       
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <legend>Información General</legend>
                </div>                    
            </div>
          </div>

         <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-4 form-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="user.nombre" name="nombre" #creator="ngModel" required pattern=".{5,50}"/>
                    </div>
 
                    <div class="col-md-4 form-group">
                        <label class="control-label">Primer Apellido</label>
                        <input type="text" class="form-control" [(ngModel)]="user.primerApellido" name="primerApellido" #title="ngModel" required pattern=".{5,20}"/>
                    </div>
 
                    <div class="col-md-4 form-group">
                        <label class="control-label">Segundo Apellido</label>
                        <input type="text" class="form-control" [(ngModel)]="user.segundoApellido" name="segundoApellido" #description="ngModel" required
                            pattern=".{10,}" />
                    </div>

                     <div class="col-md-4 form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="user.email" name="email" #description="ngModel" required
                            pattern=".{10,}" />
                    </div>

                     <div class="col-md-4 form-group">
                        <label class="control-label">Telefono Casa</label>
                        <input type="text" class="form-control" [(ngModel)]="user.telefonoCasa" name="telefonoCasa" #description="ngModel" required
                            pattern=".{10,}" />
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="control-label">Telefono Celular</label>
                        <input type="text" class="form-control" [(ngModel)]="user.telefonoCelular" name="telefonoCelular" #description="ngModel" required
                            pattern=".{10,}" />
                    </div>
              </div>            
          </div>
          
          <hr>

          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <legend>Domicilio</legend>
                </div>                    
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group col-md-4">
                    <label class="control-label">Calle</label>
                <input type="text" class="form-control" [(ngModel)]="user.calle" name="calle" #description="ngModel" required
                    pattern=".{10,}" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Colonia</label>
                <input type="text" class="form-control" [(ngModel)]="user.colonia" name="colonia" #description="ngModel" required
                    pattern=".{10,}" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Codigo Postal</label>
                <input type="text" class="form-control" [(ngModel)]="user.codigoPostal" name="codigoPostal" #description="ngModel" required
                    pattern=".{10,}" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Número Interior</label>
                <input type="text" class="form-control" [(ngModel)]="user.numeroInterior" name="numeroInterior" #description="ngModel" required
                    pattern=".{10,}" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Número Exterior</label>
                <input type="text" class="form-control" [(ngModel)]="user.numeroExterior" name="numeroExterior" #description="ngModel" required
                    pattern=".{10,}" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Estado</label>
                    <select class="form-control" [(ngModel)]="user.idEstado" name="idEstado" (change)="onChangeSelectEstado($event.target.value)">
                        <option *ngFor="let estado of estados" [value]="estado.id" [selected]="estado.id === user.idEstado">{{estado.nombre}}</option>
                    </select>                    
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Municipio</label>
                    <select class="form-control" [(ngModel)]="user.idMunicipio" name="idMunicipio" >
                        <option *ngFor="let municipio of municipios" [value]="municipio.id" [selected]="municipio.id === user.idMunicipio">{{municipio.nombre}}</option>
                    </select>                    
                </div>
            </div>
          </div>
      
      </fieldset>
    </tab>
    <tab heading="ASIGNACIÓN">ASIGNACIÓN</tab>
  </tabset>
  <br>
  <br>
  <button type="button" class="btn btn-danger" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Atras </button>
      <button type="button" class="btn btn-success" >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Guardar </button>
    <!--<div class="alert alert-danger" [hidden]="editScheduleForm.form.valid">
        <ul *ngIf="creator.dirty && !creator.valid">
            <li>Creator name is required <i>(5-50 characters)</i></li>
        </ul>
        <ul *ngIf="title.dirty && !title.valid">
            <li *ngIf="title.errors.required">Title is required</li>
            <li *ngIf="title.errors.pattern">Title should have 5-20 characters</li>
        </ul>
        <ul *ngIf="description.dirty && !description.valid">
            <li *ngIf="description.errors.required">Description is required</li>
            <li *ngIf="description.errors.pattern">Description should have at least 10 characters</li>
        </ul>
        <ul *ngIf="location.dirty && !location.valid">
            <li *ngIf="location.errors.required">Location is required</li>
        </ul>
    </div>-->
 
   
    <!--<button type="button" [disabled]="!editScheduleForm.form.valid" class="btn btn-default" (click)="updateSchedule(editScheduleForm)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update</button>-->
 
    <hr/>
 
   
 
    <!--<div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label"><i class="fa fa-calendar-o" aria-hidden="true"></i>Time Start</label>
                <datepicker [(ngModel)]="schedule.timeStart" name="timeStartDate" [showWeeks]="false"></datepicker>
                <timepicker [(ngModel)]="schedule.timeStart" name="timeStartTime" (change)="changed()" [hourStep]="1" [minuteStep]="15" [showMeridian]="true"></timepicker>
            </div>
 
            <div class="col-xs-6">
                <label class="control-label"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Time End</label>
                <datepicker [(ngModel)]="schedule.timeEnd" name="timeEndDate" [showWeeks]="false"></datepicker>
                <timepicker [(ngModel)]="schedule.timeEnd" name="timeEndTime" (change)="changed()" [hourStep]="1" [minuteStep]="15" [showMeridian]="true"></timepicker>
            </div>
        </div>
    </div>-->
 
    <!--<div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</label>
                <input type="text" class="form-control" [(ngModel)]="schedule.location" name="location" #location="ngModel" required />
            </div>
 
            <div class="col-md-4 selectContainer">
                <label class="control-label"><i class="fa fa-spinner" aria-hidden="true"></i>Status</label>
                <select class="form-control" [(ngModel)]="schedule.status" name="status">
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                </select>
            </div>
            <div class="col-md-4 selectContainer">
                <label class="control-label"><i class="fa fa-tag" aria-hidden="true"></i>Type</label>
                <select class="form-control" [(ngModel)]="schedule.type" name="type">
                    <option *ngFor="let type of types" [value]="type">{{type}}</option>
                </select>
            </div>
        </div>
    </div>-->
    <!--<hr/>-->

</form>