<div [@flyInOut]="'in'">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estado of estados">
                <td> {{estado.id}} </td>
                <td> {{estado.nombre}}</td>
                <td> {{estado.abreviatura}}</td>
                <td>
                    <button class="btn btn-primary" (click)="viewEstadoDetails(estado.id)">
                        <i class="fa fa-info-circle" aria-hidden="true"> Details</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
     <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    <br>
    <br>
    <br>
    
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="selectedEstadoLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4>{{estadoDetails.nombre}} details</h4>
            </div>
            <div class="modal-body">
                <form ngNoForm method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Nombre</label>
                                <input type="text" class="form-control" [(ngModel)]="estadoDetails.nombre" disabled />
                            </div>
 
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-text-width" aria-hidden="true"></i>Abreviatura</label>
                                <input type="text" class="form-control" [(ngModel)]="estadoDetails.abreviatura" disabled />
                            </div>
 
                        </div>
                    </div>
                    <hr/>
                    <div class="panel panel-info">
                        <div class="panel-heading">Municipios</div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let municipio of estadoDetails.municipios">
                                    <td [style.valign]="'middle'">{{municipio.id}}</td>
                                    <td [style.valign]="'middle'">{{municipio.nombre}}</td>
                                    <td [style.valign]="'middle'">{{municipio.estatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>