<div role="content">
    <br>
    <br>
    <div class="widget-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <legend>Información General</legend>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Región</label>
                        <select class="form-control" name="idRegion">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Plaza IMMEX</label>
                        <select class="form-control" name="idPlazaImmex">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-sm-3">
                    <label class="control-label col-sm-12">Marca </label>
                    <input name="ctl00$MainContentMP$TxtMarca" type="text" maxlength="50" id="MainContentMP_TxtMarca" class="form-control col-sm-12" placeholder="Marca">
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label col-sm-12">Modelo <span class="req"></span></label>
                    <input name="ctl00$MainContentMP$TxtModelo" type="text" maxlength="50" id="MainContentMP_TxtModelo" class="form-control col-sm-12" placeholder="Modelo">
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label col-sm-12">Número de teléfono <span class="req"></span></label>
                    <input name="ctl00$MainContentMP$TxtTelefono" type="text" maxlength="10" id="MainContentMP_TxtTelefono" class="form-control col-sm-12" placeholder="(999) 999-9999">
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label col-sm-12">Número de Serie <span class="req"></span></label>
                    <input name="ctl00$MainContentMP$TxtNumeroSerie" type="text" maxlength="50" id="MainContentMP_TxtNumeroSerie" class="form-control col-sm-12" placeholder="1234567890">
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label col-sm-12">IMEI <span class="req"></span></label>
                    <input name="ctl00$MainContentMP$TxtImei" type="text" maxlength="15" id="MainContentMP_TxtImei" class="form-control col-sm-12" placeholder="IMEI">
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div id="MainContentMP_SummaryPerfil" class="alert alert-danger" style="display:none;">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-group pull-right" role="group">
                        <div id="MainContentMP_PPermisos">
                            <input type="submit" value="Cancelar" id="MainContentMP_BtnCancelar" class="btn tm btn-warning">
                            <input type="submit"  value="Guardar" onclick="" id="MainContentMP_BtnEditar" class="btn tm btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>