<form #movilForm="ngForm" (ngSubmit)="(esEdicion) ? editarMovil(movilForm.value) : crearMovil(movilForm.value)"  *ngIf="regionesLoaded" autocomplete="off"  novalidate>
<div role="content">
    <br>
    <br>
    <spinner-component [spinnerShow]="showSpinner"></spinner-component>
    <div class="widget-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <legend> {{ !esEdicion ? 'Crear Movil' : 'Editar Movil'}}</legend>
                </div>
            </div>
        </div>
        <hr>
        <div class="alert alert-danger" [hidden]="movilForm.form.valid">
            <ul *ngIf="marca.dirty && !marca.valid">
                <li>Marca es requerido <i>(2-50 caracteres)</i></li>
            </ul>
            <ul *ngIf="modelo.dirty && !modelo.valid">
                <li>Modelo es requerido <i>(2-50 caracteres)</i></li>
            </ul>
            <ul *ngIf="numeroTelefono.dirty && !numeroTelefono.valid">
                <li *ngIf="numeroTelefono.errors.required">Numero Telefono es requerido</li>
                <li *ngIf="numeroTelefono.errors.pattern">Numero Telefono debe tener caracteres numericos</li>
            </ul>
            <ul *ngIf="numeroSerie.dirty && !numeroSerie.valid">
                <li *ngIf="numeroSerie.errors.required">Numero de Serie es requerido</li>
                <li *ngIf="numeroSerie.errors.pattern">Numero de Serie debe tener caracteres numericos</li>
            </ul>
            <ul *ngIf="imei.dirty && !imei.valid">
                <li *ngIf="imei.errors.required">IMEI es requerido</li>
                <li *ngIf="imei.errors.pattern">IMEI debe tener caracteres numericos</li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Región</label>
                        <ng-select [items]="itemsRegiones" [active]="activeIdRegion" placeholder="Selecciona una Region" *ngIf="esEdicion" (selected)="onChangeSelectRegion($event.id)" [(ngModel)]="idRegion" [ngModelOptions]="{standalone: true}"></ng-select>
                        <ng-select [items]="itemsRegiones" placeholder="Selecciona una Región" *ngIf="!esEdicion" (selected)="onChangeSelectRegion($event.id)" [(ngModel)]="idRegion" [ngModelOptions]="{standalone: true}"></ng-select>
                        <!--<select class="form-control" [(ngModel)]="movil.regionId" name="regionId" (change)="onChangeSelectRegion($event.target.value)">
                            <option *ngFor="let region of regiones" [value]="region.id">{{region.nombreRegion}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Plaza IMMEX</label>
                        <ng-select [items]="itemsPlazasImmex" [active]="activeIdPlazaImmex" placeholder="Selecciona una Plaza Immex" *ngIf="esEdicion" [(ngModel)]="idPlazaImmex" [ngModelOptions]="{standalone: true}"></ng-select>
                        <ng-select [items]="itemsPlazasImmex" placeholder="Selecciona una Plaza Immex" *ngIf="!esEdicion"  [(ngModel)]="idPlazaImmex" [ngModelOptions]="{standalone: true}"></ng-select>
                        <!--<select class="form-control" [(ngModel)]="movil.plazaImmexId" name="plazaImmexId">
                            <option *ngFor="let plazaImmex of plazasImmex" [value]="plazaImmex.id" >{{plazaImmex.nombrePlazaImmex}}</option>
                        </select>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">Marca </label>
                    <input type="text" class="form-control col-sm-12" [(ngModel)]="movil.marca" name="marca" #marca="ngModel" required pattern=".{2,50}">
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">Modelo <span class="req"></span></label>
                    <input type="text" class="form-control col-sm-12" [(ngModel)]="movil.modelo" name="modelo" #modelo="ngModel" required pattern=".{2,50}">
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">Número de teléfono <span class="req"></span></label>
                    <input type="text" class="form-control col-sm-12" [(ngModel)]="movil.numeroTelefono" name="numeroTelefono" #numeroTelefono="ngModel" required pattern="^(0|[1-9][0-9]*)$">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">Número de Serie <span class="req"></span></label>
                    <input type="text" class="form-control col-sm-12" [(ngModel)]="movil.numeroSerie" name="numeroSerie" #numeroSerie="ngModel" required pattern="^(0|[1-9][0-9]*)$">
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">IMEI </label>
                    <input type="text" class="form-control col-sm-12" [(ngModel)]="movil.imei" name="imei" #imei="ngModel" required pattern="^(0|[1-9][0-9]*)$">
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label col-sm-12">Estatus Movil </label>
                    <bSwitch [switch-on-color]="OnColor" [switch-off-color]="OffColor" [switch-off-text]="OffText" [switch-on-text]="OnText" [(ngModel)]="EstatusMovil" [ngModelOptions]="{standalone: true}"></bSwitch>
                </div>                
            </div>
        </div>
        <hr>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-group pull-right" role="group">
                        <div id="MainContentMP_PPermisos">
                            <button type="button" class="btn btn-danger" (click)="back()">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> 
                                Atras 
                            </button> 
                            <button *ngIf="esEdicion" type="submit" [disabled]="movilForm.invalid" class="btn tm btn-success">
                                Editar
                            </button>
                            <button *ngIf="!esEdicion" type="submit" [disabled]="movilForm.invalid" class="btn tm btn-warning">
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

</form>